.ipynb_checkpoints/
.pytest_cache/
.ruff_cache/
.snakemake/
.venv/
.cache/
cache/
__pycache__/
*.pyc
data/raw/**
!data/raw/.gitkeep
data/generated/**
!data/generated/.gitkeep
results/data/**
!results/data/.gitkeep
results/figures/**
!results/figures/.gitkeep
